# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules

# Build directory
/.next/

# Local environment variables
.env.local

# Test coverage
/coverage

# Log files
*.log

# Next.js type definitions
next-env.d.ts

# Custom
seed.ts
